/* GENERAL RULES */

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney', sans-serif;
}

.marginauto {
    margin: 0 auto;
    width: 80%;
    /* DEBUG */
    /* background-color: red; */
    /* height: 100vh; */
}

ul {
    list-style-type: none;
   padding: 0px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

a {
    text-decoration: none;
}


/* HEADER */
header {
    /* DEBUG */
    background-color: #255ee9;
}

/* NAV */
nav {
    height: 100px;
    background-color: #255ee9;
/* DEBUG */
}

#navblock1 {
    width: 20%;
    float: left;
    margin-top: 25px;
}

#navblock2 {
    width: 60%;
    float: left;
    text-align: center;
    margin-top: 25px;
}

#navblock3 {
    width: 20%;
    float: left;
    margin-top: 25px;
    text-align: right;
}

.navtab {
    display: inline-block;
}

.navtab>a {
    margin-right: 20px;
    margin-left: 20px;
    color: #fff;
}

#navblock3>a {
    background-color: white;
    border-radius: 20px;
    color: #23272a;
    text-decoration: none;
    padding: 6px 13px 6px 13px;
}



/* SECTION */
.headersection {
    height: 60vh;
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* DEBUG */
}

.headersection>h1 {
    text-align: center;
    color: #fff;
    font-size: 60px;
    padding-top: 100px;
}

.headersection>p {
    text-align: center;
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
    padding-right: 27%;
    padding-left: 27%;
}

#headersec1, #headersec2  {
    float: left;
    height: 20px;
    padding: 30px 20px
    
}

#headersec1 {
    width: 45%;
    text-align: right;
    /* DEBUG
    background-color: red;  */
}

#headersec2 {
    width: 55%;
    height: 20px;
    /* DEBUG
    background-color: green; */
}

.downloadbutton>a {
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    color: #262a2d;
    padding: 12px 30px 12px 30px;
    display: inline-block;
}

.webbutton>a {
    background-color: #23272a;
    font-size: 20px;
    font-weight: 500;
    border-radius: 20px;
    color: #fff;
    padding: 12px 30px 12px 30px;
    display: inline-block;
}
