/* GENERAL RULES */

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney', sans-serif;
}

/* HEADER */

/* NAV */

/* SECTION */



/* MAIN */

/* SECTION */

/* SECTION */

/* SECTION */

/* SECTION */



/* FOOTER */

/* SECTION */

/* SECTION */