/* GENERAL RULES */

* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Whitney', sans-serif;
}

.marginauto {
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    /* DEBUG */
    /* background-color: red; */
}

ul {
    list-style-type: none;
}


/* HEADER */
header {
    /* DEBUG */
    background-color: blue;
}

/* NAV */
nav {
    height: 100px;
    background-color: #255ee9;
/* DEBUG */
}

.navcontainer {
    position: relative;
    height: 100px;
}

.navcontainer>img {
    position: absolute;
    top: 50px;
    left: 64px;
    transform: translate(-50%, -50%);
}

.buttonnav {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.buttonnav>a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    margin: 20px;
    color: #fff;
}

.loginbutton {
    position: absolute;
    right: -1%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.loginbutton>a {
    font-size: 20px;
    font-weight: 500;
    background-color: white;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    padding: 6px 15px 6px 15px;
}

/* SECTION */
header>section {
    height: 60vh;
    background-image: url(img/jumbo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
/* DEBUG */



/* MAIN */
/* DEBUG */

/* SECTION */
/* DEBUG */

/* SECTION */
/* DEBUG */

/* SECTION */
/* DEBUG */

/* SECTION */
/* DEBUG */



/* FOOTER */
footer {
    background-color: #23272a;
/* DEBUG */
height: 300px;
}
/* SECTION */
/* DEBUG */

/* SECTION */
/* DEBUG */